<launch>

<!-- This is used to load the cad files for visualization and ray tracing.  -->
<!-- There needs to be corresponding files  -->
<!-- gazebo_ray_trace/sdf/[localization_object_cad].stl -->
<!-- gazebo_ray_trace/worlds/[localization_object_cad].world -->
  <arg name="localization_object" default="flat_plate"/>

  <param name="localization_object_cad" type="str" 
	 value="package://gazebo_ray_trace/sdf/$(arg localization_object).stl"/>

<!-- Temporary file used to generate particles and send images to RViz -->
  <include file="$(find using_markers)/launch/particles.launch"/>

  <include file="$(find particle_filter)/launch/pfilter3DOF.launch"/>

<!-- Gazebo ray tracing service used to calculate values of a touch -->
  <include file="$(find gazebo_ray_trace)/launch/headless_ray_tracing_service.launch">
    <arg name="world_name" 
	 value="$(find gazebo_ray_trace)/worlds/$(arg localization_object).world"/>
  </include>



</launch>
